.capitals{
    background-color: #E8EEF4;
    height: 100vh;
}

mat-icon{
    background-color: white;
    padding: 6px;
    font-size: 18px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

h1{
    color: white;
    font-weight: 500;
    font-size: 40px;
}

.capitals-widget{
    background-color: white;
    border-radius: 30px;
    width: 270px;
    padding: 4px;
    cursor: pointer;
}

.country-widget{
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 88px;
    overflow: hidden;
}

.list-of-capitals{
    margin-top: 7%;
    height: 82%;
    overflow: auto;
    width: 23%;
}
