/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
    width: 0.5vw;
    padding: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #9993;
    border-radius: 8px;
}

.capitals-widget{
    background-color: white;
    border-radius: 30px;
    width: 270px;
    padding: 4px;
    cursor: pointer;
}

.country-widget{
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 88px;
    overflow: hidden;
}